<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="form-group mb-2">
    <label for="source" class="sr-only">From</label>
    <fla-airport-input id="source" formControlName="source"></fla-airport-input>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="destination" class="sr-only">To</label>
    <fla-airport-input id="destination" formControlName="destination"></fla-airport-input>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>
<div>
  {{searchForm.get('source').value | json}}
</div>
<div>
  {{searchForm.get('destination').value | json}}
</div>
<div>
  <button (click)="searchForm.get('destination').disable()">Disable</button>
</div>
