<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="form-group mb-2">
    <label for="source" class="sr-only">From</label>
    <input id="source" type="text" class="form-control"
               formControlName="source">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="destination" class="sr-only">To</label>
    <input id="destination" type="text" class="form-control"
           formControlName="destination">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>
